{% extends "organization/about.html" %}

{% block primary_content_inner %}
<dl>
{% for f in c.scheming_fields %}
<dt>{{ h.scheming_language_text(f.label) }}:</dt>
{% if f.field_name == "notes"  %}
<dd> {%- snippet 'scheming/display_snippets/fluent_text_o.html', data=c.group_dict, field='notes' -%}</dd>
{% else %}
<dd>{{ c.group_dict[f.field_name] or ("&nbsp;"|safe) }}</dd>
{% endif %}
{% endfor %}
</dl>
{% endblock %}
