{% asset 'scheming/aafcdataset' %}
{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'subject',
    'ineligibility_reason',
    'data_source_repository',
    'contact_information',
    'procured_data',
    'procured_data_organization_name',
    'elegible_for_release',
    'access_to_information',
    'authority_to_release',
    'formats',
    'privacy',
    'official_language',
    'other',
    'jurisdiction',
    'canada_license_id',
    'access_restriction',
    'imso_approval',
    'ready_to_publish',
    'ready_to_republish',
    'data_series_name',
    'data_series_issue_identification',
    'audience',
    'apm_departmental_identifier',
    'distributor',
    'status',
    'association_type',
    'program_alignment_architecture9',
    'open_government_portal_record',
    'restrictions',
    'presentation_form',
    'display_flags',
    'security',
    'mint_a_doi',
    'program_alignment_architecture_to_drf_core_responsibilities',
    'drf_program_inventory',
    'hidden_drf_program_inventory',
    'authoritative_source',
    'aafc_sector',
    'drf_core_responsibilities',
    'publication',
    'owner_org',
    'license_id_ext',
    'license_id',
    'aafc_is_harvested',
    'aafc_author_email',
    'aafc_author',
    'data_released',
    'open_government_portal_record_e',
    'open_government_portal_record_f',
    'aafc_owner_org'
    ] -%}


{% block package_additional_info %}
{# Show Org #}
{% set org = {'en':'Organization Name', 'fr':'Nom de l\'organisation'} %}
{% set extern_lic = {'en':'External Licence', 'fr':'Licence externe'} %}
<!-- 
<tr>
    <th scope="row" class="dataset-label" id="org_name">{{h.scheming_language_text(org)}}</th>
    <td class="dataset-details">{{pkg_dict.organization.title}}</td>
</tr>
-->
{% set hide_lic = pkg_dict.publication != 'internal' %}
{# Show license based on condition #}

<tr class = "{% if hide_lic %}hidden {% endif %}">
  <th scope="row" class="dataset-label" id="license_name">{{h.scheming_language_text(extern_lic)}}</th>
  <td class="dataset-details">{{pkg_dict.license_title}}</td>
</tr>
{%- for field in schema.dataset_fields -%}
    {% if field.field_name not in exclude_fields
        and field.display_snippet is not none %}
      <tr>
        <th scope="row" class="dataset-label" id="f-{{field.field_name}}">{{
          h.scheming_language_text(field.label) }}</th>
        <td class="dataset-details"{%
          if field.display_property %} property="{{ field.display_property
          }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=pkg_dict, schema=schema -%}</td>
      </tr>
    {% endif %}
  {%- endfor -%}
  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }} </th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
   
  {% endif %}
{% endblock %}

