{% asset 'scheming/aafc_js' %} 
{% extends 'package/new_package_form.html' %}

{% asset 'scheming/groupac' %}

{% block errors %}
  {%- if errors -%}
    {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
    {%- snippet 'scheming/snippets/errors.html',
      errors=errors, fields=schema.dataset_fields,
      entity_type='dataset', object_type=dataset_type -%}
  {%- endif -%}
{% endblock %}

{% block basic_fields %}

  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
    {% set lang  = request.environ.CKAN_LANG %}
    <label class="control-label" style="margin-bottom:15px">
    	<span title="Required" class="control-required">*</span> 
      {{_('Required field')}}
    </label>
    {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
    {%- for group in schema.dataset_fields|groupby('display_group') -%}
         {%- if schema.display_groups is defined -%}
            {%- set current_group_label =  _(group.grouper)|replace(' ','-') -%}
            {%- set current_group_description = schema.display_groups[loop.index-1 ].description -%}
            {%- set current_group_collapsible = schema.display_groups[loop.index-1 ].collapse_by_default -%}
            {%- if current_group_collapsible is defined -%}
                <div class="panel-group">
                  <div class="panel panel-default" id="group-{{current_group_label}}">
                    <div class="panel-heading">
                     <h3 class="panel-title" style="padding: 10px;background: #797979;color: white;">
                      <a class="accordion-toggle"  data-toggle="collapse" href="#{{ current_group_label }}" id="ctrl-{{current_group_label}}"> {{ _(group.grouper) }} </a>
                     </h3>
                    <p></p>
                     <!-- <h4>
                       <p> {{ current_group_description }}
                     </h4> -->
               <div id="{{ current_group_label }}" class="collapse {{ '' if current_group_collapsible else ' in'}}">
            {%- else -%}
              <!-- <h3 class="scheming-group-title">
                  {{ _(group.grouper) }}
               </h3>
               <h4>
                       <p> {{ current_group_description }}
               </h4> -->
               <div class="form-label-group">
            {%- endif -%}
        {%- endif -%}
        {%- for field in group.list -%}
            {%- if field.form_snippet is not none -%}
                {%- if field.field_name not in data %}
                    {# Set the field default value before rendering but only if
                    it doesn't already exist in data which would mean the form
                    has been submitted. #}
                    {% if field.default %}
                        {% set _x_ = data.__setitem__(
                            field.field_name,
                            h.scheming_render_from_string(field.default)) %}
                    {% endif %}
                {% endif -%}
                {%- snippet 'scheming/snippets/form_field.html',
                    field=field,
                    data=data,
                    errors=errors,
                    licenses=c.licenses,
                    entity_type='dataset',
                    object_type=dataset_type
                -%}
            {%- endif -%}
        {%- endfor -%}
        {%- if current_group_collapsible is defined -%}
             </div>
           </div>
        {%- endif -%}
        </div>
	{%- if current_group_label != 'ANA' -%}
	    {%- if current_group_label == 'Open-Government-Dataset-Release-Information' -%}
	<div class="form-group hidden" id="gap-option">G:{{group.grouper}} &nbsp; lable: {{current_group_label}} </div>
            {%- else -%}
	<div sytle="width:100%" >&nbsp; </div> 
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}

  {%- if 'resource_fields' not in schema -%}
    <!-- force controller to skip resource-editing step for this type -->
    <input type="hidden" name="_ckan_phase" value="" />
  {%- endif -%}

{% endblock %}

{% block metadata_fields %}
{% endblock %}
